In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("datasets/DataCoSupplyChainDataset.csv", sep=',',
            encoding="ISO-8859-1" )
df[:5]

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [4]:
df = pd.read_csv("dataset_clean.csv", sep=',',
            encoding="ISO-8859-1")
lend = [1 for l in df['Dest_Lat'] if l != '' ]
len(lend)

180519

In [5]:
import math
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth radius in km

    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

    dlat = lat2 - lat1
    dlon = lon2 - lon1

    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.asin(math.sqrt(a))

    return R * c
df["distance"] = df.apply(
    lambda row: haversine(
        row["Dest_Lat"],
        row["Dest_Lon"],
        row["Latitude"],
        row["Longitude"]
    ),
    axis=1
)
df.to_csv("dataset_clean_with_dist.csv")
df.head()

,Late_delivery_risk,Days for shipment (scheduled),order date (DateOrders),Shipping Mode,Market,Order Region,Latitude,Longitude,Category Name,Department Name,...,Product Status,Customer Segment,Order Item Total,Order Profit Per Order,Order Item Discount Rate,Order City,Order State,Dest_Lat,Dest_Lon,distance
0,0,4,1/31/2018 22:56,Standard Class,Pacific Asia,Southeast Asia,18.251453,-66.037056,Sporting Goods,Fitness,...,0,Consumer,314.640015,91.250000,0.04,Bekasi,Java Occidental,-6.234986,106.994544,18480.058856
1,1,4,1/13/2018 12:27,Standard Class,Pacific Asia,South Asia,18.279451,-66.037064,Sporting Goods,Fitness,...,0,Consumer,311.359985,-249.089996,0.05,Bikaner,RajastÃ¡n,28.015929,73.317137,13260.637223
2,0,4,1/13/2018 12:06,Standard Class,Pacific Asia,South Asia,37.292233,-121.881279,Sporting Goods,Fitness,...,0,Consumer,309.720001,-247.779999,0.06,Bikaner,RajastÃ¡n,28.015929,73.317137,12581.935467
3,0,4,1/13/2018 11:45,Standard Class,Pacific Asia,Oceania,34.125946,-118.291016,Sporting Goods,Fitness,...,0,Home Office,304.809998,22.860001,0.07,Townsville,Queensland,-19.256939,146.823954,11627.729706
4,0,4,1/13/2018 11:24,Standard Class,Pacific Asia,Oceania,18.253769,-66.037048,Sporting Goods,Fitness,...,0,Corporate,298.250000,134.210007,0.09,Townsville,Queensland,-19.256939,146.823954,16558.444661